@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header {
  margin-bottom: 1rem;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.fullwidth {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

input[type="text"],
button {
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

/* Hover- and Focus effects on input */
input[type="text"]:hover,
input[type="text"]:focus {
    background-color: var(--color-background-soft);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style for the button */
button {
    cursor: pointer;
    text-align: center;
}

/* Hover- and Focus effects */
button:hover,
button:focus {
    background-color: var(--color-background-soft);
    box-shadow: 0 0 10px rgba(0, 91, 179, 0.5);
}

/* Optional: Disabled state */
button:disabled {
    background-color: var(--color-background-mute);
    cursor: not-allowed;
    box-shadow: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search {
    font-size: 2em;
}

.found {
  color: var(--color-accent);
}

.light {
  color: var(--color-secondary);
}

.checkbox {
  margin-right: 1em;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
